# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
.tmp

# dependencies
/node_modules
vendor
node_modules
dist
.tmp
.sass-cache
/bower_components
/vendor
/vendor/*

/public/upload/*
/public/paperwork_pdf/*


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.env

/app/scripts/constant.js
public/uploads/BC3BB8FC-E7E2-CD92-1207-2D3835A0B22F.jpg
benjamin.sublime-project
*.zip
public/data/documents.zip
client/package-lock.json
